@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

body {
    background-position: 0in;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #ede4df8f;
    overflow: scroll;
    word-wrap: break-word;
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
    
}

nav {
	padding: 1rem;
    background-color:rgba(80, 63, 42, 0.312);
    text-align: right;

    
}

nav > a {
	    text-decoration: none;
	    color:antiquewhite;
	    
        padding: 5px 10px;
}

nav > a:hover {
              color: silver;
}

h1 {
    font-family: 'Lucida Sans', sans-serif;
    color: rgba(0, 0, 0, 0.284);
    text-align: center;
    text-transform: none;
    letter-spacing: 0px;
}

h2 {
    color:rgb(121, 101, 77);
    font-family: Caveat, sans-serif;
    text-align: center;
    letter-spacing: 0px;
}



#start {
    border-radius: 20%;
      
}
.first-pic {
    background-image: url(https://img.freepik.com/free-photo/restaurant-hall-with-round-square-tables-some-chairs-plants_140725-8031.jpg?w=996&t=st=1672340379~exp=1672340979~hmac=6df8f558fb9fff0b1da7a6a388acf4b086c6b3860157bb045c61eb5005397c74);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 70px;
    overflow: hidden;
    width: 1152px;
    height: 321px;
   
          
}
.first-pic > h1 {
    color: whitesmoke;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: left;
    margin-top: 179px;

}
.about {
    margin: 100px;
    
}
.story {
    margin: 100px;
    float: left;
}
.bild {
    width: 300px;
    height: 200px;
    border: 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    margin: 5px;
    margin-left: 550px;
    margin-top: -164px;
}
.foto {
    width: 400px;
    height: 300px;
    border: 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    margin: 5px;
    margin-left: 550px;
    margin-top: -164px;
}
div {
    width: 400px;
    height: 300px;
    
}
.container {
    margin-top: 20px;
}
.place_of_image {
    
    margin-left: 35px;
    margin: -45px;
    display: initial;
}
.color.blue {
    
    display: inline;
    margin-top: 100px;
    height: 500px;
    background-color: rosybrown;
    width: 980px;
    margin: 70px;
}
section {
    height: 500px;
    margin: 100px;
    background-color:rgba(80, 63, 42, 0.312);
}
