@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300&display=swap');

body {
    background-position: 0in;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: whitesmoke;
    overflow: scroll;
    word-wrap: break-word;
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
    
    
}

nav {
	padding: 1rem;
    
    
    text-align: right;

    
}

nav > a {
	    text-decoration: none;
	    color:rgb(121, 101, 77);
	    
        padding: 5px 10px;
}

nav > a:hover {
              color: silver;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.284);
    text-align: center;
    text-transform: none;
    letter-spacing: 0px;
    text-transform: uppercase;
}

h2 {
    color:rgb(121, 101, 77);
    font-family: Caveat, sans-serif;
    text-align: center;
    letter-spacing: 0px;
}



#start {
    border-radius: 20%;
      
}
.first-pic {
    background-image: url(https://img.freepik.com/free-photo/gold-cutlery-set-black-background_1220-4099.jpg?w=1380&t=st=1672346556~exp=1672347156~hmac=7252f4d43841e176bcb274ccf4adc8aa28a934a350d0516d4139c049d8f03ef5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 65px;
    overflow: hidden;
    width: 1500px;
    height: 321px;
   
          
}
.first-pic > h1 {
    color: whitesmoke;
    font-size: 70px;
    font-family: Caveat sans-serif;
    font-style: italic;
    text-align: right;
    margin-top: 179px;
    text-transform: none;

}
.about {
    margin: 100px;
    
}
.chef {
    margin: 100px;
}
.story {
    margin: 100px;
    float: left;
}
.bild {
    width: 300px;
    height: 200px;
    border: 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    margin: 5px;
    margin-left: 550px;
    margin-top: -265px;
}
.foto {
    width: 400px;
    height: 300px;
    border: 2px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    margin: 5px;
    margin-left: 550px;
    margin-top: -164px;
}
div {
    width: 400px;
    height: 300px;
    
}
.container {
    margin-top: 20px;
}
.place_of_image {
    
    margin-left: 35px;
    margin: -45px;
    display: initial;
}
.color.blue {
    
   
    margin-top: 100px;
    background-color:rgba(80, 63, 42, 0.312);
    width: 980px;
    margin: 70px;
}
section {
    height: 340px;
    margin: 150px;
   
}
.like {
    text-align: center;
    display: inline-flex;
    width: 1400px;
    margin: -76px;
    justify-content: space-between;
}

.like > li {
    display: inline;
    
}

.like i {
    font-size: 550%;
    margin: 0%;
    padding: 0%;
    color: silver;
    
}
.special_price {
    width: 250px;
    height: 150px;
    margin-left: 60px;
}
.special_price:hover {
    animation: shake 0.35s ease-in-out
}
@keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
  

}
/* social networks */

fotter {
    float: inline-end;
    position: absolute;
    height: 160px;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    display: block;
    left: 0; 
}

#social-networks {
              margin-top: 200px;
              margin-bottom: 0px;
              text-align: center;
              height: 170px;
              background-color: #3a3a3a;
}
#social-networks i {
                font-size: 160%;
                margin: 1%;
                padding: 5%;
                color: beige;
}
#social-networks > div {
                   display: inline;
                   color: #a69c95;
                   text-align: center; 
}